import("methods")
import("distr")
import("distrSim")
import("startupmsg")

exportClasses("numericorNULL", "Evaluation")
exportMethods("name", "filename", "call.ev", "result", "estimator", "savedata")
exportMethods("initialize", "evaluate", "plot", "print", "summary")
